<!DOCTYPE html>
<html lang="{{ .Site.LanguageCode }}">
{{ partial "head" . }}

<body class="has-navbar-fixed-top">
    {{ if not (eq .Kind "404") }}
    <header>
        {{ partial "header" . }}
    </header>
    {{ end }}

    {{ block "main" . }}
    {{ end }}

    {{ if not (eq .Kind "404") }}
    <footer>
        {{ partial "footer" . }}
    </footer>
    {{ end }}
</body>

{{ if not (or .IsHome (eq .Kind "404"))  }}
    {{ partial "structured-breadcrumbs" . }}
    {{ partial "structured-search-gallery" . }}
{{ end }}

{{ partial "scripts-main" }}

{{ if eq .Page.Name "Services" }}
    {{ partial "scripts-filter" }}
{{ end }}

</html>