<!DOCTYPE html>
<html lang="{{ .Site.LanguageCode }}">
{{ partial "head" . }}

<body class="has-navbar-fixed-top">
    {{ if not (eq .Kind "404") }}
    <header>
        {{ partial "header" . }}
    </header>
    {{ end }}

    {{ block "main" . }}
    {{ end }}

    {{ if not (eq .Kind "404") }}
    <footer>
        {{ partial "footer" . }}
    </footer>
    {{ end }}

    <div id="my-cookie-notification" class="notification box is-hidden">
        <button class="delete"></button>
        <div class="columns is-mobile">
            <div class="column is-narrow">
                <img src="https://img.icons8.com/cotton/48/000000/cookie.png">
            </div>
            <div class="column">
                This website uses cookies to make the browsing experience better for you. We <strong>do not</strong>
                collect any
                personal data or save it on our computers.
            </div>
        </div>
    </div>
</body>

{{ if not (or .IsHome (eq .Kind "404"))  }}
{{ partial "structured-breadcrumbs" . }}
{{ partial "structured-search-gallery" . }}
{{ end }}

{{ partial "scripts-main" }}

{{ if eq .Page.Name "Services" }}
{{ partial "scripts-filter" }}
{{ end }}

</html>