$positions: top right bottom left
  
=margin-size($target:'')
  @each $size in $sizes
    $i: index($sizes, $size)
    .has-margin-#{$i}#{if($target == '', '', '-' + $target)}
      margin: $size

    @each $position in $positions
      .has-margin-#{$position}-#{$i}#{if($target == '', '', '-' + $target)}
        margin-#{$position}: $size

+margin-size()

+mobile
  +margin-size('mobile')

+tablet
  +margin-size('tablet')

+touch
  +margin-size('touch')

+desktop
  +margin-size('desktop')

+widescreen
  +margin-size('widescreen')

+fullhd
  +margin-size('fullhd')

=padding-size($target:'')
  @each $size in $sizes
    $i: index($sizes, $size)
    .has-padding-#{$i}#{if($target == '', '', '-' + $target)}
      padding: $size

    @each $position in $positions
      .has-padding-#{$position}-#{$i}#{if($target == '', '', '-' + $target)}
        padding-#{$position}: $size

+padding-size()

+mobile
  +padding-size('mobile')

+tablet
  +padding-size('tablet')

+touch
  +padding-size('touch')

+desktop
  +padding-size('desktop')

+widescreen
  +padding-size('widescreen')

+fullhd
  +padding-size('fullhd')