$spaces: 1rem 2rem 3rem 6rem 9rem
$positions: top right bottom left
  
=margin-size($target:'')
  @each $space in $spaces
    $i: index($spaces, $space)
    .has-margin-#{$i}#{if($target == '', '', '-' + $target)}
      margin: $space

    @each $position in $positions
      .has-margin-#{$position}-#{$i}#{if($target == '', '', '-' + $target)}
        margin-#{$position}: $space

+margin-size()

+mobile
  +margin-size('mobile')

+tablet
  +margin-size('tablet')

+touch
  +margin-size('touch')

+desktop
  +margin-size('desktop')

+widescreen
  +margin-size('widescreen')

+fullhd
  +margin-size('fullhd')

=padding-size($target:'')
  @each $space in $spaces
    $i: index($spaces, $space)
    .has-padding-#{$i}#{if($target == '', '', '-' + $target)}
      padding: $space

    @each $position in $positions
      .has-padding-#{$position}-#{$i}#{if($target == '', '', '-' + $target)}
        padding-#{$position}: $space

+padding-size()

+mobile
  +padding-size('mobile')

+tablet
  +padding-size('tablet')

+touch
  +padding-size('touch')

+desktop
  +padding-size('desktop')

+widescreen
  +padding-size('widescreen')

+fullhd
  +padding-size('fullhd')