@import url('https://fonts.googleapis.com/css?family=Abril+Fatface')

$family-secondary: 'Abril Fatface', cursive
$navbar-dropdown-arrow: hsl(0, 0%, 29%)
$navbar-height: 3.5rem

@import "../node_modules/bulma/bulma"
@import "spacing"

.title
  font-family: $family-secondary

#navbarMobile
  display: none
  position: fixed
  z-index: 999
  right: 0
  margin-top: 0.2rem
  margin-right: 0.2rem
  +touch
    &.is-open
      display: unset
    .dropdown-item
      font-weight: $strong-weight

#my-cookie-notification
  position: fixed
  right: 2rem
  bottom: 0
  width: 400px
  +mobile
    bottom: -2rem
    width: 100vw
    left: 0
    right: 0
    border-radius: 0
  
.navbar
  transition: all 0.1s ease-in
  &.scrolled
    box-shadow: 0 5px 5px -1px rgba(10,10,10,.1)
  a.navbar-item,
  a.navbar-link
    font-weight: $strong-weight
    color: $subtitle-color

.navbar-dropdown .my-first-column a.navbar-item
  padding-right: unset

div, 
img
  &.has-big-shadow
    box-shadow: 0 3rem 3rem -1rem rgba(10,10,10,.2)

img
  &.my-process-line
    margin: -1rem 3.5rem
  &.my-landscaping-image
    +mobile
      margin-bottom: -70px
    +tablet
      margin-bottom: -140px
    +desktop
      margin-bottom: -150px
    +widescreen
      margin-bottom: -170px
    +fullhd
      margin-bottom: -180px