<footer class="footer is-dark">
    <div class="content">
        <div class="columns">
            <div class="column is-3 is-offset-1">
                <a class="" href="{{ .Site.BaseURL }}">
                    <img src="/img/logo.svg">
                </a>
            </div>
            <div class="column is-3">
                <p>
                    Website by <a href="https://usmankhwaja.com">Usman Khwaja</a>
                </p>
                <p>
                    All right reserved. 2019
                </p>
            </div>
            <div class="column is-5"></div>
        </div>
    </div>
</footer>