<meta charset="utf-8">

<title>
    {{ .Title }}
</title>

{{ if isset .Params "description" }}
<meta name="description" content="{{ .Params.description }}">
{{ else }}
<meta name="description" content="{{ .Site.Params.description }}">
{{ end }}

<meta name="author" content="{{ .Site.Params.author }}">
<meta name="viewport" content="width=device-width, minimum-scale=1, initial-scale=1">

<link rel="canonical" href="{{ .Permalink | absLangURL }}">

{{ $style := resources.Get "bulma.sass" | toCSS (dict "targetPath" "css/styles.css" "outputStyle" "compressed" "enableSourceMap" false) | postCSS (dict "config" "assets" "noMap" true) | minify }}
<link rel="stylesheet" href="{{ $style.Permalink }}">