<section class="hero is-medium is-light">
    <div class="hero-body">
        <div class="container">
            <div class="columns">
                <div class="column is-4 is-offset-1">
                    <h1 class="title">You are here because you want the best</h1>
                    <h2 class="subtitle">We will make the process easy for you.</h2>
                </div>
                <div class="column is-6 is-offset-1">
                    <div class="tile is-parent is-vertical is-10">
                        <article class="tile is-child box">
                            <div class="columns is-mobile">
                                <div class="column is-narrow">
                                    <img src="img/chat.svg" width="50">
                                </div>
                                <div class="column">
                                    <p class="is-size-4 has-text-weight-bold">Chat with us</p>
                                    <p class="is-size-6">Tell us what work you want done. Show us some designs that
                                        you saw on the internet or in your competitions place</p>
                                </div>
                        </article>
                        <div class="tile is-child has-text-right"><img src="img/line1.svg" class="my-process-line"></div>
                        <article class="tile is-child box">
                            <div class="columns is-mobile">
                                <div class="column is-narrow">
                                    <img src="img/contract.svg" width="50">
                                </div>
                                <div class="column">
                                    <p class="is-size-4 has-text-weight-bold">Negotiate a contract</p>
                                    <p class="is-size-6">We will consult the best workers for the job and give you an
                                        estimate</p>
                                </div>
                            </div>
                        </article>
                        <div class="tile is-child"><img src="img/line2.svg" class="my-process-line"></div>
                        <article class="tile is-child box">
                            <div class="columns is-mobile">
                                <div class="column is-narrow">
                                    <img src="img/paint.svg" width="50">
                                </div>
                                <div class="column">
                                    <p class="is-size-4 has-text-weight-bold">Renovate!</p>
                                    <p class="is-size-6"></p>
                                </div>
                        </article>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>