<section class="hero is-medium is-primary">
    <div class="hero-body">
        <div class="container">
            <div class="columns is-vcentered is-centered">
                <div class="column is-3">
                    <p class="has-text-centered"><img src="img/team.svg" width="200" style="box-shadow: 0 3rem 3rem -1rem rgba(10,10,10,.2);"></p>
                </div>
                <div class="column is-4 is-offset-2">
                    <div class="notification is-white" style="box-shadow: 0 3rem 3rem -1rem rgba(10,10,10,.2);">
                        <h1 class="title has-text-dark">What we do</h1>
                        <h2 class="subtitle has-text-dark">
                            Looking to renovate your space? Don't know who to hire? Look no further. We know the best
                            builders in the market. Just tell us what work you want done and we will refer you to the
                            best professionals for the job.
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>