<section id="contact" class="section is-medium">
    <div class="container">
        <div class="title-wrapper has-text-centered">
            <h1 class="title">Contact</h1>
        </div>
        <div class="content-wrapper">
            <div class="columns is-vcentered is-centered">
                <div class="column is-4 is-offset-1">
                    <h3 class="title is-4">Email</h3>
                    <p class="subtitle">XXXXX@gmail.com</p>
                    <br>
                    <h3 class="title is-4">Phone</h3>
                    <p class="subtitle">+92 51 XXXX XXX</p>
                </div>
                <div class="column is-4 is-offset-1">
                    {{ partial "contact-form" . }}
                </div>
            </div>
        </div>
    </div>
</section>