<section class="hero is-medium">
    <div class="hero-body">
        <div class="container">
            <div class="columns is-vcentered">
                <div class="column is-two-fifths is-offset-1">
                    <h1 class="title is-2">Home & Commercial Renovations</h1>
                    <h2 class="subtitle">We connect you to the best professionals in town.</h2>
                    <div class="buttons">
                        <a class="button is-medium is-info" href="#contact">Contact</a>
                        <a class="button is-white">Or see why we are worth it</a>
                    </div>
                </div>
                <div class="column is-one-third is-three-fifths-mobile is-offset-1 is-offset-one-fifth-mobile">
                    <figure class="image">
                        <img src="img/tools.svg">
                    </figure>
                </div>
            </div>
        </div>
    </div>
</section>