<section class="section">
    <div class="container">
        <div class="title-wrapper has-text-centered">
            <h1 class="title">Services we refer</h1>
            <h2 class="subtitle">
            </h2>
            <p>
                <br><br>
            </p>
        </div>
        <div class="content-wrapper">
            <div class="columns is-centered">
                {{ range first 4 (where .Data.Pages "Type" "services") }}
                <div class="column">
                    {{ .Render "li" }}
                </div>
                {{ end }}
            </div>
            <div class="columns is-centered is-hidden-mobile">
                {{ range first 4 (after 4 (where .Data.Pages "Type" "services")) }}
                <div class="column">
                    {{ .Render "li" }}
                </div>
                {{ end }}
            </div>
            <div class="columns is-centered">
                <div class="column has-text-centered">
                    <a href="#" class="button has-margin-2 is-dark">See full list of services</a>
                </div>
            </div>
        </div>
        <div class="image-wrapper">
            <div class="columns is-centered">
                <div class="column is-8">
                    <figure class="image">
                        <img class="my-landscaping-image" src="img/landscaping.svg">
                    </figure>
                </div>
            </div>
        </div>
    </div>
</section>