<script type="text/javascript">
window.filterFunction = () => {
    var input, filter, div, item, count, warn;
    input = document.getElementById("mySearchInput");
    filter = input.value.toUpperCase();
    div = document.getElementById("myDropdownContent");
    warn = document.getElementById("myNotFound");
    item = Array.prototype.slice.call(div.getElementsByTagName("a"), 0);
    item.forEach(el => {
        keywords = el.getAttribute('keywords');
        if (keywords.toUpperCase().indexOf(filter) > -1) {
            removeClass(el, "is-hidden");
        } else {
            addClass(el, "is-hidden");
        }
    });
    count = Array.prototype.slice.call(div.querySelectorAll("a.is-hidden"), 0);
    if (count.length == item.length ) {
        removeClass(warn, "is-hidden");
    } else { 
        addClass(warn, "is-hidden");
    }
}
</script>