{{ define "main" }}
<section class="hero is-medium">
    <div class="hero-body">
        <div class="container">
            <div class="columns is-vcentered">
                <div class="column is-5 is-offset-1">
                    <h1 class="title">Oops!</h1>
                    <h2 class="subtitle">Looks like this page does not exist.</h2>
                    <div class="buttons">
                        <a href="/" class="button is-light">Return home</a>
                    </div>
                </div>
                <div class="column is-6">
                    <div class="columns is-centered is-mobile">
                        <div class="column">
                            <figure class="image">
                                <img src="img/404.svg">
                            </figure>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
{{ end }}